*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
   }
   
   
   
   .container {
     width: 100%;
     min-height: 100vh;
     background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)), url(slike/mikolaj-DCzpr09cTXY-unsplash.jpg);
     background-size: cover;
     background-position: center;
   }
   
   
   nav{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 8%;
   }
   
   .logo{
     width: 180px;
     cursor: pointer;
   }
   
   nav ul{
     list-style: none;
     width: 100%;
     text-align: right;
     padding-right: 60px;
     margin-bottom: -25px;
   }
   
   nav ul li {
     display: inline-block;
     margin: 10px 20px;
   }
   
   nav ul li a::after{
     display: inline-block;
     margin: 10px 20px;
     content: '';
     width: 100%;
     height: 3px;
     background: #fff;
     border-radius: 5px;
     transform: scaleX(0);
     transition: transform .5s;
   }
   
   nav ul li a:hover::after{
    
     transform: scaleX(1);
     
   }
   
   
   
   nav ul li a{
     color: #fff;
     text-decoration: none;
   }
   
   nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
  }
   
   
   

   
   .btn-l {
     display: flex;
     align-items: center;
     padding: 10px 20px;
     margin: 10px;
     border: 0;
     outline: 0;
     border-radius: 5px;
     background: #f5168d;
     color: #fff;
     font-weight: 500;
     cursor: pointer;
   }
   
   .btn-l i{
     width: 20px;
     margin-right: 10px;
     margin-left: -4px;
   }
   
   .btn-l:hover{
     display: flex;
     align-items: center;
     padding: 10px 20px;
     margin: 10px;
     border: 0;
     outline: 0;
     border-radius: 5px;
     background: #ffffff;
     color: #f5168d;
     font-weight: 500;
     cursor: pointer;
     transition: 0.4s;
   }
   
   .admin-wrapper{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  
  
  .admin-wrapper.active-popup {
    transform: scale(1);
    top: -500px;
  }
  
  
  .admin-wrapper .form-box{
    width: 100%;
    padding: 40px;
  }
  
  

  
  .form-box h2{
    font-size: 2em;
    color: #f5168d;
    text-align: center;
  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
  }
  
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #f5168d;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -5px;
  }
  
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }
  
  .input-box .icon {
    position: absolute;
    right: 8px;
    color:#f5168d;
    font-size: 1.2em;
    line-height: 57px;
  }
  
  .remember-forgot {
    font-size: .9em;
    color: #f5168d;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .remember-forgot label input {
    accent-color: #f5168d;
    margin-right: 3px;
  }
  
  .remember-forgot a {
    color: #f5168d;
    text-decoration: none;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  .form-box .btn {
    width: 100%;
    height: 45px;
    background: #f5168d;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
  }
  
  .login-register {
    font-size: .9em;
    color: #f5168d;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }
  
  .login-register p a {
    color: #f5168d;
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-register p a:hover{
    text-decoration: underline;
  }
  
  
   
   
   
   
   footer {
     width: 100%;
     position: inherit;
     bottom: 0;
     background: linear-gradient(to right, #f5168d, #162938);
     color: #ffffff;
     border-top-left-radius: 125px ;
     font-size: 13px;
     line-height: 20px;
     padding: 100px 0 30px;
   }
   
   footer .row {
    width: 85%;
    margin: auto;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   }
   
    footer .col {
     flex-basis: 25%;
     padding: 10px;
   }
   
   .col:nth-child(2), .col:nth-child(3) {
     flex-basis: 15%;
   }
   
   footer .logo-f {
     width: 140px;
     margin-bottom: 20px;
     margin-left: 80px;
   }
   
   
   footer .col-info h3 {
     width: fit-content;
     margin-bottom: 40px;
     position: relative;
   }
   
   footer .col-office .email-id {
     width: fit-content;
     border-bottom: 1px solid #ccc;
     margin: 20px 0;
   }
   
   footer .col-info ul li  {
     list-style: none;
     margin-bottom: 12px;
   }
   
   footer .col-info ul li a {
     text-decoration: none;
     color: #ffffff;
   }
   
   footer .col-news h3 {
     width: fit-content;
     margin-bottom: 40px;
     position: relative;
   }
   
   footer .col-form-news {
     padding-bottom: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #ccc;
     margin-bottom: 50px;
   }
   
   footer .col-form-news ion-icon {
     font-size: 22px;
     margin-right: 10px;
   }
   
   .col-form-news input {
     width: 100%;
     background: transparent;
     color: #ccc;
     border: 0;
     outline: none;
   }
   
   .col-form-news button {
     background: transparent;
     border: 0;
     outline: none;
     cursor: pointer;
   }
   
   .col-form-news i {
     font-size: 16px;
     color: #ccc;
   }
   
   .social-icons i {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     text-align: center;
     line-height: 40px;
     font-size: 30px;
     margin-right: 10px;
     color: #f5168d;
     background-color: #ccc;
     cursor: pointer;
   }
   
   footer hr {
     width: 90%;
     border: 0;
     border-bottom: 1px solid #ccc;
     margin: 20px auto;
   }
   
   footer .copyright {
     text-align: center;
   }
   
   
   .dodajknjigu{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5168d2e;
    border: 1px solid #f5168d;
    border-radius: 22px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }

  .dodajknjigu h2 {
    color: white;
    font-size: 5rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .dodajknjigu  label {
    display: block;
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
  }
  
  .dodajknjigu input[type="text"],
  .dodajknjigu select {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #e91e6329;
    color: white;
  }

  .dodajknjigu  input[type="number"]{
    width: 20%;
    padding: 10px;
    margin-top: -20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #e91e6329;
    color: white;
  }

  
  .dodajknjigu textarea {
    width: 100%;
    font-size: 1.3rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    min-height: 280px;
    background: #e91e6329;
    color: white;
    cursor: text;
  }
  
  .dodajknjigu input[type="file"]{
    width: 30%;
    padding: 10px;
    margin-top: -20px;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #e91e6329;
    color: white;
  }

  
  
  .dodajknjigu input[type="submit"] {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
  }

  .dodajknjigu input[type="submit"]:hover {
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: #ffffff;
  color: #f5168d;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  }

  .success-message {
    color: white;
    font-weight: bold;
}

.error-message {
    color: red;
}

.dodajknjigu  input[type="date"]{
  width: 15%;
  padding: 10px;
  margin-top: -20px;
  font-size: 1rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #e91e6329;
  color: white;
}