*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
   }
   
   
   
   .container {
     width: 100%;
     min-height: 100vh;
     background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)), url(slike/mikolaj-DCzpr09cTXY-unsplash.jpg);
     background-size: cover;
     background-position: center;
   }
   
   
   nav{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 8%;
   }
   
   .logo{
     width: 180px;
     cursor: pointer;
   }
   
   nav ul{
     list-style: none;
     width: 100%;
     text-align: right;
     padding-right: 60px;
     margin-bottom: -25px;
   }
   
   nav ul li {
     display: inline-block;
     margin: 10px 20px;
   }
   
   nav ul li a::after{
     display: inline-block;
     margin: 10px 20px;
     content: '';
     width: 100%;
     height: 3px;
     background: #fff;
     border-radius: 5px;
     transform: scaleX(0);
     transition: transform .5s;
   }
   
   nav ul li a:hover::after{
    
     transform: scaleX(1);
     
   }
   
   nav ul li a{
     color: #fff;
     text-decoration: none;
   }
   
   .btn-k {
     display: flex;
     align-items: center;
     padding: 10px 20px;
     margin: 10px;
     border: 0;
     outline: 0;
     border-radius: 5px;
     background: #f5168d;
     color: #fff;
     font-weight: 500;
     cursor: pointer;
   }
   
   .btn-k i{
     width: 20px;
     margin-right: 10px;
     margin-left: -4px;
   }
   
   .btn-k:hover{
     display: flex;
     align-items: center;
     padding: 10px 20px;
     margin: 10px;
     border: 0;
     outline: 0;
     border-radius: 5px;
     background: #ffffff;
     color: #f5168d;
     font-weight: 500;
     cursor: pointer;
     transition: 0.4s;
   }
   
   .btn-ko {
     display: flex;
     align-items: center;
     padding: 10px 20px;
     margin: 10px;
     border: 0;
     outline: 0;
     border-radius: 5px;
     background: #f5168d;
     color: #fff;
     font-weight: 500;
     cursor: pointer;
   }
   
   .btn-ko i{
     width: 20px;
     margin-right: 10px;
     margin-left: -4px;
   }
   
   .btn-ko:hover{
     display: flex;
     align-items: center;
     padding: 10px 20px;
     margin: 10px;
     border: 0;
     outline: 0;
     border-radius: 5px;
     background: #ffffff;
     color: #f5168d;
     font-weight: 500;
     cursor: pointer;
     transition: 0.4s;
   }
   
   .btn-l {
     display: flex;
     align-items: center;
     padding: 3px 20px;
     margin: 10px;
     border: 0;
     outline: 0;
     border-radius: 5px;
     background: #f5168d;
     color: #fff;
     font-weight: 500;
     cursor: pointer;
   }
   
   .btn-l i{
     width: 20px;
     margin-right: 10px;
     margin-left: -4px;
   }
   
   .btn-l:hover{
     display: flex;
     align-items: center;
     padding: 3px 20px;
     margin: 10px;
     border: 0;
     outline: 0;
     border-radius: 5px;
     background: #ffffff;
     color: #f5168d;
     font-weight: 500;
     cursor: pointer;
     transition: 0.4s;
   }
   
   
   
   
   
   
   
   
   
   .content{
       margin-top: 14%;
       color: #fff;
       max-width: 620px;
       padding: 10px;
   }
   
   .content h1{
     font-size: 70px;
     font-weight: 600;
     line-height: 85px;
     margin-bottom: 25px;
   }
   
   .content form{
     display: flex;
     align-items: center;
     background: #fff;
     border-radius: 5px;
     padding: 10px;
     margin-top: 30px;
   }
   
   .content form input{
     border: 0;
     outline: 0;
     width: 100%;
     font-size: 16px;
     padding-left: 10px;
   }
   
   .content form .btn{
     font-size: 15px;
     padding: 10px 30px;
   }
   
   .wrapper{
     position: relative;
     width: 400px;
     height: 440px;
     background: transparent;
     border: 2px solid rgba(255, 255, 255, .5);
     border-radius: 20px;
     backdrop-filter: blur(20px);
     box-shadow: 0 0 30px rgba(0, 0, 0, .5);
     display: flex;
     justify-content: center;
     align-items: center;
     top: -500px;
     left: 35%;
     transform: translate(-50%, -50%);
     margin-top: 20px;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
   }
   
   .wrapper.active-popup {
     transform: scale(1);
     top: -500px;
   }
   
   .wrapper.active {
   height: 520px;
   top: -500px;
   }
   
   .wrapper .form-box{
     width: 100%;
     padding: 40px;
   }
   
   .wrapper .form-box.login {
     transition: transform .18s ease;
     transform: translateX(0);
   }
   
   .wrapper.active .form-box.login{
     transition: none;
     transform: translateX(-400px);
   }
   
   .wrapper .form-box.register{
     position: absolute;
     transition: none;
     transform: translateX(400px);
   }
   
   .wrapper.active .form-box.register {
     transition: transform .18s ease;
     transform: translateX(0);
   }
   
   .wrapper .icon-close {
     position: absolute;
     top: 0;
     right: 0;
     width: 45px;
     height: 45px;
     background: #f5168d;
     font-size: 2em;
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     border-bottom-left-radius: 20px;
     cursor: pointer;
     z-index: 1;
   }
   
   .form-box h2{
     font-size: 2em;
     color: #f5168d;
     text-align: center;
   }
   
   .input-box {
     position: relative;
     width: 100%;
     height: 50px;
     border-bottom: 2px solid #162938;
     margin: 30px 0;
   }
   
   
   .input-box label {
     position: absolute;
     top: 50%;
     left: 5px;
     transform: translateY(-50%);
     font-size: 1em;
     color: #f5168d;
     font-weight: 500;
     pointer-events: none;
     transition: 0.5s;
   }
   
   .input-box input:focus~label,
   .input-box input:valid~label {
     top: -5px;
   }
   
   .input-box input{
     width: 100%;
     height: 100%;
     background: transparent;
     border: none;
     outline: none;
     font-size: 1em;
     color: #ffffff;
     font-weight: 600;
     padding: 0 35px 0 5px;
   }
   
   .input-box .icon {
     position: absolute;
     right: 8px;
     color:#f5168d;
     font-size: 1.2em;
     line-height: 57px;
   }
   
   .remember-forgot {
     font-size: .9em;
     color: #f5168d;
     font-weight: 500;
     margin: -15px 0 15px;
     display: flex;
     justify-content: space-between;
   }
   
   .remember-forgot label input {
     accent-color: #f5168d;
     margin-right: 3px;
   }
   
   .remember-forgot a {
     color: #f5168d;
     text-decoration: none;
   }
   
   .remember-forgot a:hover {
     text-decoration: underline;
   }
   
   .form-box .btn {
     width: 100%;
     height: 45px;
     background: #f5168d;
     border: none;
     outline: none;
     border-radius: 6px;
     cursor: pointer;
     font-size: 1em;
     color: #fff;
     font-weight: 500;
   }
   
   .login-register {
     font-size: .9em;
     color: #f5168d;
     text-align: center;
     font-weight: 500;
     margin: 25px 0 10px;
   }
   
   .login-register p a {
     color: #f5168d;
     text-decoration: none;
     font-weight: 600;
   }
   
   .login-register p a:hover{
     text-decoration: underline;
   }

   #igracke {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 55px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }
  
  .igracke-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .igracke-heading h1 {
    font-size: 6rem;
    color: #fff;
    font-weight: 600;
  }
  
  .igracke-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
  }
  
  .igracke-box {
    position: relative;
    width: 350px;
    height: 445px;
    background-color: #fff;
    border: 1px soldi #ececec;
    margin: 20px;
    border-radius: 20px;
  }
  
  .igracke-box:hover {
    transform: scale(1.1);
    position: relative;
    transition: 0.3s;
    border: 1px soldi #ececec;
    border-radius: 20px;
  }
  
  
  
  
  .igracke-img {
    width: 350px;
    height: 200px;
  }
  
  .igracke-img img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
  }
  
  .igracke-text{
    margin-top: 0px;
  }
  
  .igracke-text span {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: red;
    font-size: 1.2rem;
    cursor: default;
  }
  
  
  
  .igracke-text h1 {
    margin-left: 5px;
    color: #162938;
  }
  
  .igracke-text h4 {
    margin-left: 5px;
  }
  
  .igracke-text .igracke-title {
    font-size: 1.8rem;
    font-weight: 500;
    color: #f5168d;
    text-decoration: none;
    padding-left: 5px;
  }
  
  .igracke-text .igracke-title:hover {
    color: #162938;
    transition: all ease 0.3s;
  }
  
  
  
  
  .cijena-box h1{
    margin-left: 5px;
      color: #060032;
      text-align: center;
      right: 145px;
      bottom: unset;
      position: absolute;
      bottom: 90px;
  }

  .dodaj-btn-igracke{
    position: absolute;
    background-color: #f5168d;
    width: 350px;
    height: 85px;
    top: 403px;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5rem;
    color: #ececec;
  }

  .dodaj-btn-igracke:hover{
    background-color: #ececec;
    width: 350px;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #f5168d;
  }

  .dodaj-btn-igracke-f{
    position: absolute;
    background-color: #f5168d;
    width: 350px;
    height: 85px;
    top: 403px;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5rem;
    color: #ececec;
  }

  .dodaj-btn-igracke-f:hover{
    background-color: #ececec;
    width: 350px;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #f5168d;
  }

  .korpa-t{
    z-index: 9999;
  background: #f5168d;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #162938;
  overflow: hidden;
  position: fixed;
  color: white;
  font-size: 1.5rem;
  }

  .korpa-t.show{
    animation: show_fade 1s ease forwards;
  }
  @keyframes show_fade {
    0%{
       opacity: 0;
    }
    100%{
      opacity: 1;
    }
    
  }
  
  .dodaj-btn{
    position: absolute;
  background-color: #f5168d;
  width: 350px;
  height: 85px;
  top: 403px;
  border: 0;
  border-radius: 0px 0px 20px 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: #ececec;
  }

  .dodaj-btn:hover{
    background-color: #ececec;
    width: 350px;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #f5168d;
  }

  .dodaj-btn-f{
    position: absolute;
    background-color: #f5168d;
    width: 350px;
    height: 85px;
    top: 403px;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5rem;
    color: #ececec;
  }
  
    .dodaj-btn-f:hover{
      background-color: #ececec;
      width: 350px;
      border: 0;
      border-radius: 0px 0px 20px 20px;
      cursor: pointer;
      font-size: 1.5rem;
      color: #f5168d;
    }


    .alert{
      z-index: 9999;
      background: #f5168d;
      padding: 20px 40px;
      min-width: 420px;
      position: absolute;
      right: 0;
      top: 10px;
      border-radius: 4px;
      border-left: 8px solid #162938;
      overflow: hidden;
      position: fixed;
    }
    
    .alert.show{
      animation: show_fade 1s ease forwards;
    }
    @keyframes show_fade {
      0%{
         opacity: 0;
      }
      100%{
        opacity: 1;
      }
      
    }
    
    .alert.hide{
      animation: hide_fade 2s ease forwards 3s;
      display: none;
    }
    @keyframes hide_fade {
      0%{
         opacity: 1;
      }
      100%{
        opacity: 0;
      }  
    }
    
    .alert .fa-exclamation-circle{
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: #ececec;
      font-size: 30px;
    }
    
    .alert .msg{
      padding: 0 20px;
      font-size: 18px;
      color: #ececec;
    }
    
    .alert .close-btn{
      background: #f5168d;
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      padding: 20px 18px;
      cursor: pointer;
    }
    
    .close-btn:hover{
      background: #162938;
    }
    
    .close-btn .fa-times{
      color: #ececec;
      font-size: 22px;
      line-height: 40px;
    }
    
    
    .korpa-n{
      z-index: 9999;
      background: #f5168d;
      padding: 20px 40px;
      min-width: 420px;
      position: absolute;
      right: 0;
      top: 10px;
      border-radius: 4px;
      border-left: 8px solid #162938;
      overflow: hidden;
      position: fixed;
    }
    
    .korpa-n.show{
      animation: show_fade 1s ease forwards;
    }
    @keyframes show_fade {
      0%{
         opacity: 0;
      }
      100%{
        opacity: 1;
      }
      
    }
    
    .korpa-n.hide{
      animation: hide_fade 2s ease forwards 3s;
      display: none;
    }
    @keyframes hide_fade {
      0%{
         opacity: 1;
      }
      100%{
        opacity: 0;
      }  
    }
    
    .korpa-n .fa-exclamation-circle{
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: #ececec;
      font-size: 30px;
    }
    
    .korpa-n .msg{
      padding: 0 20px;
      font-size: 18px;
      color: #ececec;
    }
    
    .korpa-n .close-btn{
      background: #f5168d;
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      padding: 20px 18px;
      cursor: pointer;
    }
    
    .close-btn:hover{
      background: #162938;
    }
    
    .close-btn .fa-times{
      color: #ececec;
      font-size: 22px;
      line-height: 40px;
    }
    

  footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #f5168d, #162938);
    color: #ffffff;
    border-top-left-radius: 125px ;
    font-size: 13px;
    line-height: 20px;
    padding: 100px 0 30px;
  }
  
  footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
   footer .col {
    flex-basis: 25%;
    padding: 10px;
  }
  
  .col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
  }
  
  footer .logo-f {
    width: 140px;
    margin-bottom: 20px;
  }
  
  
  footer .col-info h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }
  
  footer .col-office .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }
  
  footer .col-info ul li  {
    list-style: none;
    margin-bottom: 12px;
  }
  
  footer .col-info ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  footer .col-news h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }
  
  footer .col-form-news {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  
  footer .col-form-news ion-icon {
    font-size: 22px;
    margin-right: 10px;
  }
  
  .col-form-news input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
  }
  
  .col-form-news button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  
  .col-form-news i {
    font-size: 16px;
    color: #ccc;
  }
  
  .social-icons i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    margin-right: 10px;
    color: #f5168d;
    background-color: #ccc;
    cursor: pointer;
  }
  
  footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
  }
  
  footer .copyright {
    text-align: center;
  }


  #knjige {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 55px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }
  
  .knjige-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .knjige-heading h1 {
    font-size: 6rem;
    color: #fff;
    font-weight: 600;
  }
  
  .knjige-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
  }
  
  .knjige-box {
    position: relative;
    width: 350px;
    height: 445px;
    background-color: #fff;
    border: 1px soldi #ececec;
    margin: 20px;
    border-radius: 20px;
  }
  
  .knjige-box:hover {
    transform: scale(1.1);
    position: relative;
    transition: 0.3s;
    border: 1px soldi #ececec;
    border-radius: 20px;
  }
  
  
  
  
  .knjige-img {
    width: 350px;
    height: 200px;
  }
  
  .knjige-img img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
  }
  
  .knjige-text{
    margin-top: 0px;
    padding-bottom: 6px;
  }
  
  .knjige-text span {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: red;
    font-size: 1.2rem;
    cursor: default;
  }
  
  
  
  .knjige-text h1 {
    margin-left: 5px;
    color: #162938;
  }
  
  .knjige-text h4 {
    margin-left: 5px;
  }
  
  .knjige-text .knjige-title {
    font-size: 1.8rem;
    font-weight: 500;
    color: #f5168d;
    text-decoration: none;
    padding-left: 5px;
  }
  
  .knjige-text .knjige-title:hover {
    color: #162938;
    transition: all ease 0.3s;
  }
  
  

  .cijena{
    color: #060032;
    text-align: center;
    position: absolute;
    top: 78%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
  }
  
  .kolicina{
    position: absolute;
    left: 295px;
    width: 50px;
    bottom: 90px;
    height: 30px;
    font-size: 1rem;
}


  .dodaj-btn{
  position: absolute;
  background-color: #f5168d;
  width: 350px;
  height: 85px;
  top: 403px;
  border: 0;
  border-radius: 0px 0px 20px 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: #ececec;
}

  .dodaj-btn:hover{
    background-color: #ececec;
    width: 350px;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #f5168d;
  }
  
  .dodaj-btn-f{
    position: absolute;
    background-color: #f5168d;
    width: 350px;
    height: 85px;
    top: 403px;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5rem;
    color: #ececec;
  }
  
    .dodaj-btn-f:hover{
      background-color: #ececec;
      width: 350px;
      border: 0;
      border-radius: 0px 0px 20px 20px;
      cursor: pointer;
      font-size: 1.5rem;
      color: #f5168d;
    }

    .alert{
      z-index: 9999;
      background: #f5168d;
      padding: 20px 40px;
      min-width: 420px;
      position: absolute;
      right: 0;
      top: 10px;
      border-radius: 4px;
      border-left: 8px solid #162938;
      overflow: hidden;
      position: fixed;
    }
    
    .alert.show{
      animation: show_fade 1s ease forwards;
    }
    @keyframes show_fade {
      0%{
         opacity: 0;
      }
      100%{
        opacity: 1;
      }
      
    }
    
    .alert.hide{
      animation: hide_fade 2s ease forwards 3s;
      display: none;
    }
    @keyframes hide_fade {
      0%{
         opacity: 1;
      }
      100%{
        opacity: 0;
      }  
    }
    
    .alert .fa-exclamation-circle{
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: #ececec;
      font-size: 30px;
    }
    
    .alert .msg{
      padding: 0 20px;
      font-size: 18px;
      color: #ececec;
    }
    
    .alert .close-btn{
      background: #f5168d;
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      padding: 20px 18px;
      cursor: pointer;
    }
    
    .close-btn:hover{
      background: #162938;
    }
    
    .close-btn .fa-times{
      color: #ececec;
      font-size: 22px;
      line-height: 40px;
    }
    
    
    .korpa-n{
      z-index: 9999;
      background: #f5168d;
      padding: 20px 40px;
      min-width: 420px;
      position: absolute;
      right: 0;
      top: 10px;
      border-radius: 4px;
      border-left: 8px solid #162938;
      overflow: hidden;
      position: fixed;
    }
    
    .korpa-n.show{
      animation: show_fade 1s ease forwards;
    }
    @keyframes show_fade {
      0%{
         opacity: 0;
      }
      100%{
        opacity: 1;
      }
      
    }
    
    .korpa-n.hide{
      animation: hide_fade 2s ease forwards 3s;
      display: none;
    }
    @keyframes hide_fade {
      0%{
         opacity: 1;
      }
      100%{
        opacity: 0;
      }  
    }
    
    .korpa-n .fa-exclamation-circle{
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: #ececec;
      font-size: 30px;
    }
    
    .korpa-n .msg{
      padding: 0 20px;
      font-size: 18px;
      color: #ececec;
    }
    
    .korpa-n .close-btn{
      background: #f5168d;
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      padding: 20px 18px;
      cursor: pointer;
    }
    
    .close-btn:hover{
      background: #162938;
    }
    
    .close-btn .fa-times{
      color: #ececec;
      font-size: 22px;
      line-height: 40px;
    }